{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Css/login.css') }}">
{% endblock %}
{% block body %}

    <script scr="{{ asset('Js/login.js') }}"></script>

    <video poster="{{ asset('/img/videoFixed.png') }}" autoplay muted loop id="myVideo">
        <source src="{{ asset('video/video.mp4') }}" type="video/mp4">
    </video>

    <article id="form-article">
    <div id="form">

        <div id="form-chil">

        <form method="post">

            {% if error %}
                <div id="div-error" class="alert alert-danger is-mobile">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <!--IDENTIFIANT-->
            <div class="field is-mobile">
                <label class="label is-mobile">Identifiant</label>
                <div class="control is-mobile">
                    <input class="input is-success is-mobile" name="pseudo"  type="text" placeholder="Pseudo" value="{{ last_username }}" id="inputPseudo" autocomplete="username" required autofocus>
                </div>
            </div>

            <!--MOT DE PASSE-->
            <div class="field is-mobile">
                    <label for="inputPassword"><strong>Mot de Passe</strong></label>
                    <input class="input is-mobile" name="password" id="inputPassword" type="password" placeholder="Mot de Passe" autocomplete="current-password" required>
                </p>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>

            <!--BOUTTON CONNEXION-->
            <div id="button-div">
                <input id="button-connexion" class="button is-primary is-mobile" type="submit" value="GO !">
                <div id="button-div-child">
                    <div class="checkbox mb-3 is-mobile">
                           <label>
                               <input type="checkbox" name="_remember_me"> Se souvenir de moi
                           </label>
                    </div>

                    <div>
                       <a href="{{ path('app_reset_password', {'token': 'x'}) }}"> Mot de passe oublié </a>
                    </div>
                </div>

            </div>

        </form>

        </div>

    </div>

    </article>
{% endblock %}
