{% extends 'base.html.twig' %}

{% block title %}Touch Grass{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Css/table.css') }}">
    <link rel="stylesheet" href="{{ asset('Css/home.css') }}">
{% endblock %}
{% block javascripts %}

{% endblock %}

{% block body %}
    <!-- message d'accueil supprimable -->
    {% if app.user %}
        <article id="art-info" class="message is-link">
            <div class="message-header">
                <p>Info :</p>
                <button id="close-popup" class="delete" aria-label="delete"></button>
            </div>
            <div id="Div_message" class="message-body">
                <img id="baby-groot" src="{{ asset('Img/groot.svg') }}" alt="">
                <p>Hey bienvenue sur Touch Grass, moi, c'est Baby groot et j'te propose de découvrir notre app de
                    gardien
                    de la planète :D
                    Le concept est simple, un Admin (bouuuh) t'a créé un compte ! Pourquoi ? ben pour aller toucher de
                    l'herbe un peu :D
                    Une fois connecté tu n'as plus qu'à t'inscrire ou créer des sorties alors n'hésite pas :)
                    Si tu t'ennuies y'a un petit secret à découvrir :P
                </p>
            </div>
        </article>
    {% endif %}
    <div id="Div_form">
        <div id="info">
            <h2>Date du Jour : {{ "now" | date("d/m/Y") }}</h2>
            <h2>
                {% if app.user %}
                    Participant : {{ app.user.pseudo }}
                {% else %}
                    Pensez à vous connecter pour participer
                {% endif %}
            </h2>
        </div>
        <div id="Form_div">
            <p id="filtreTitre">Filtrer les Sorties</p>
            <div id="filtrage">
                <div id="Form_first_part">
                    {{ form(filtreForm) }}
                </div>
                {% if app.user %}
                    <div id="Form_second_part">
                        <div>
                            <input type="checkbox" class="filter-checkbox" id="organisateur" name="organisateur">
                            <label for="organisateur">Sortie dont je suis l'organisateur/trice</label>
                        </div>
                        <div>
                            <input type="checkbox" class="filter-checkbox" id="inscrit" name="inscrit">
                            <label for="inscrit">Sortie auxquelles je suis inscrit/e</label>
                        </div>
                        <div>
                            <input type="checkbox" class="filter-checkbox" id="non-inscrit" name="non-inscrit">
                            <label for="non-inscrit">Sortie auxquelles je ne suis pas inscrit/e</label>
                        </div>
                        <div>
                            <input type="checkbox" class="filter-checkbox" id="fini" name="fini">
                            <label for="fini">Sortie passée</label>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="tabList">
        <div id="dgv">
            <table id="table-sorties" class="is-success">
                <thead>
                <tr>
                    <th>Nom de la Sortie</th>
                    <th>Date de la Sortie</th>
                    <th>Clôture</th>
                    <th>Inscrit/Places</th>
                    <th>Etat</th>
                    {% if app.user %}
                        <th>Inscrit</th>
                    {% endif %}
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in lesSorties %}
                    <br class="table-row"
                        data-est-inscrit="{{ (app.user is defined and app.user in sortie.IdInscription.ParticipantsNoParticipant) ? '1' : '0' }}"
                        data-est-organisateur="{{ app.user==sortie.Organisateur?'1':'0' }}"
                        data-est-fini="{{ sortie.Datecloture<date?'1':'0' }}">
                        {# Nom #}
                        <td data-label="Nom">{{ sortie.Nom }}</td>
                        {# dateDeb #}
                        <td data-label="Date de la Sortie">{{ sortie.Datedebut | date("m/d/Y") }}</td>
                        {# dateFin #}
                        <td data-label="Fin des Inscriptions">{{ sortie.Datecloture | date("m/d/Y") }}</td>
                        {# nbInscrit/QteMax #}
                        <td data-label="Nombre d'Inscrit">{{ sortie.IdInscription.ParticipantsNoParticipant|length }}
                            /{{ sortie.Nbinscriptionsmax }}</td>
                        {# Etat #}
                        <td data-label="Etat">{{ sortie.EtatsNoEtat.Libelle }}</td>
                        {# inscrit visible que une fois connecter #}
                        {% if app.user %}
                            <td data-label="Inscrit">
                                {% for participant in sortie.IdInscription.ParticipantsNoParticipant %}
                                    {% if app.user==participant %}
                                        <img src="{{ asset('img/inscrit.svg') }}"
                                             id="checked"
                                             alt="inscrit">
                                    {% else %}
                                        <img src="{{ asset('img/noninscrit.png') }}"
                                             id="checked"
                                             alt="noninscrit">
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endif %}
                        {# pseudo de l'organisateur #}
                        <td data-label="Organisateur"><a href="{{ path('profil_details', {'id': sortie.Organisateur.id }) }}">{{ sortie.Organisateur.Pseudo }}</a></td>
                        {# Action #}
                        <td data-label="Action">
                            {% if sortie.EtatsNoEtat.Id != 1 %}
                                <a href="{{ path('sortie_sortie', {'id': sortie.Id}) }}">Afficher</a>
                                {% if app.user %}
                                    {% if sortie.EtatsNoEtat.Id != 5 %}
                                        {% if app.user.pseudo == sortie.Organisateur.Pseudo %}
                                            - <a href="{{ path('sortie_annuler', {'id': sortie.Id}) }}">Annuler</a></td>
                                        {% elseif sortie.IdInscription.ParticipantsNoParticipant|length != sortie.Nbinscriptionsmax %}
                                            {% if app.user in sortie.IdInscription.ParticipantsNoParticipant %}
                                                - <a href="{{ path('inscription_desinscription', {'id': sortie.Id}) }}">Se désister</a>
                                            {% else %}
                                                - <a href="{{ path('inscription_inscription', {'id': sortie.Id}) }}">S'inscrire</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if app.user %}
                                    {% if app.user.pseudo == sortie.Organisateur.Pseudo %}
                                        <a href="{{ path('sortie_sortie', {'id': sortie.Id}) }}">Modifier</a>-<br><a href="{{ path('sortie_sortie', {'id': sortie.Id}) }}">Publier</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <button id="create-sortie" class="button is-warning is-rounded"><a id="button-color" href="{{ path('sortie_addSortie') }}">Créer une
                sortie</a></button>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('Js/Filtre.js') }}"></script>
{% endblock %}
