{% extends 'base.html.twig' %}

{% block title %}Touch Grass{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Css/table.css') }}">
{% endblock %}
{% block javascripts %}

{% endblock %}

{% block body %}
    <!-- message d'accueil supprimable -->
    {% if app.user %}
        <article id="art-info" class="message is-link">
            <div class="message-header">
                <p>Info :</p>
                <button id="close-popup" class="delete" aria-label="delete"></button>
            </div>
            <div id="Div_message" class="message-body">
                <img id="baby-groot" src="{{ asset('Img/groot.svg') }}" alt="">
                <p>Hey bienvenue sur Touch Grass, moi c'est Baby groot et j'te propose de découvrir notre app de gardien
                    de la planete :D
                    Le concept est simple, un Admin (bouuuh) t'a créer un compte ! Pourquoi ? ben pour aller toucher de
                    l'herbe un peu :D
                    Une fois connecté tu n'a plus qu'a t'inscrire ou créer des sorties alors n'hésite pas :)
                    Si tu t'ennui y'a un petit secret a découvrir :P
                </p>
            </div>
        </article>
    {% endif %}

    <div id="info">
        <h2>Date du Jour : {{ "now" | date("m/d/Y") }}</h2>
        <h2>
            {% if app.user %}
                Participant : {{ app.user.pseudo }}
            {% else %}
                Pensez à vous connecter pour participer
            {% endif %}
        </h2>
    </div>
    <div id="filtre">
        <p>Filtrer les Sorties</p>
        <div style="display: flex;justify-content: space-around;">
            <div>
                {{ form(filtreForm) }}
            </div>
            {% if app.user %}
                <div>
                    <div>
                        <input type="checkbox" class="filter-checkbox" id="organisateur" name="organisateur">
                        <label for="organisateur">Sortie dont je suis l'organisateur/trice</label>
                    </div>
                    <div>
                        <input type="checkbox" class="filter-checkbox" id="inscrit" name="inscrit">
                        <label for="inscrit">Sortie auxquelles je suis inscrit/e</label>
                    </div>
                    <div>
                        <input type="checkbox" class="filter-checkbox" id="non-inscrit" name="non-inscrit">
                        <label for="non-inscrit">Sortie auxquelles je ne suis pas inscrit/e</label>
                    </div>
                    <div>
                        <input type="checkbox" class="filter-checkbox" id="fini" name="fini">
                        <label for="fini">Sortie passée</label>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="dvg">
        <table id="table-sorties">
            <thead>
            <tr>
                <th>Nom de la Sortie</th>
                <th>Date de la Sortie</th>
                <th>Clôture</th>
                <th>Inscrit/Places</th>
                <th>Etat</th>
                {% if app.user %}
                    <th>Inscrit</th>
                {% endif %}
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in lesSorties %}
                <tr class="table-row"
                    data-est-inscrit="{{ (app.user is defined and app.user in sortie.IdInscription.ParticipantsNoParticipant) ? '1' : '0' }}"
                    data-est-organisateur="{{ app.user==sortie.Organisateur?'1':'0' }}"
                    data-est-fini="{{ sortie.Datecloture<date?'1':'0' }}">
                    {# Nom #}
                    <td>{{ sortie.Nom }}</td>
                    {# dateDeb #}
                    <td>{{ sortie.Datedebut | date("m/d/Y") }}</td>
                    {# dateFin #}
                    <td>{{ sortie.Datecloture | date("m/d/Y") }}</td>
                    {# nbInscrit/QteMax #}
                    <td>{{ sortie.IdInscription.ParticipantsNoParticipant|length }}/{{ sortie.Nbinscriptionsmax }}</td>
                    {# Etat #}
                    <td>{{ sortie.EtatsNoEtat.Libelle }}</td>
                    {# inscrit visible que une fois connecter #}
                    {% if app.user %}
                        <td>
                            {% for participant in sortie.IdInscription.ParticipantsNoParticipant %}
                                {% if app.user==participant %}
                                    <img src="{{ asset('img/cross-23.svg') }}" alt="inscrit">
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                    {# pseudo de l'organisateur #}
                    <td>{{ sortie.Organisateur.Pseudo }}</td>
                    {# Action #}
                    {% if sortie.EtatsNoEtat.Id != 1 %}
                        <td><a href="{{ path('sortie_sortie', {'id': sortie.Id}) }}">Afficher</a>
                        {% if app.user %}
                            {% if app.user.pseudo == sortie.Organisateur.Pseudo %}
                                - <a href="{{ path('sortie_annuler', {'id': sortie.Id}) }}">Annuler</a></td>
                            {% elseif sortie.IdInscription.ParticipantsNoParticipant|length != sortie.Nbinscriptionsmax %}
                                {% if app.user in sortie.IdInscription.ParticipantsNoParticipant %}
                                    - <a href="#">Se désister</a></td>
                                {% else %}
                                    - <a href="#">S'inscrire</a></td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            </td>
                        {% endif %}
                    {% else %}
                        {% if app.user %}
                            {% if app.user.pseudo == sortie.Organisateur.Pseudo %}
                                <td><a href="{{ path('sortie_sortie', {'id': sortie.Id}) }}">Modifier - Publier</a></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button><a href="{{ path('sortie_addSortie') }}">Créer une sortie</a></button>
    <script type="text/javascript" src="{{ asset('Js/Filtre.js') }}"></script>
{% endblock %}
