{% extends 'base.html.twig' %}

{% block title %}Touch Grass{% endblock %}

{% block body %}
    <div id="info">
        <h2>Date du Jour : {{ date.format('d/m/y') }}</h2>
        <h2>
            {% if app.user %}
                Participant : {{ app.user.pseudo }}
            {% else %}
                Pensez à vous connecter pour participer
            {% endif %}
        </h2>
    </div>
    <div id="filtre">
        <p>Filtrer les Sorties</p>
        <div style="display: flex;justify-content: space-around;">
            <div>
                {{ form(filtreForm) }}
            </div>
            <div>
                <div><input type="checkbox" id="chkOrag" name="chkOrag">
                    <label for="chkOrag">Sortie dont je suis l'organisateur/trice</label></div>
                <div><input type="checkbox" id="chkInscrit" name="chkInscrit">
                    <label for="chkInscrit">Sortie auxquelles je suis inscrit/e</label></div>
                <div><input type="checkbox" id="chkNoInscrit" name="chkNoInscrit">
                    <label for="chkNoInscrit">Sortie auxquelles je ne suis pas inscrit/e</label></div>
                <div><input type="checkbox" id="chkPasse" name="chkPasse">
                    <label for="chkPasse">Sortie passée</label></div>


            </div>
        </div>
    </div>
    <div id="dvg">
        <table>
            <thead>
            <tr>
                <th>Nom de la Sortie</th>
                <th>Date de la Sortie</th>
                <th>Clôture</th>
                <th>Inscrit/Places</th>
                <th>Etat</th>
                {% if app.user %}
                 <th>Inscrit</th>
                {% endif %}
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for sortie in lesSorties %}
                    <td>{{ sortie.Nom }}</td>
                    <td>{{ sortie.Datedebut }}</td>
                    <td>{{ sortie.Datecloture }}</td>
                    <td>{{ sortie.Nbinscriptionsmax }}</td>
                    <td>{{ sortie.EtatsNoEtat }}</td>
                    {% if app.user %}
                        <td>X</td>
                    {% endif %}
                    <td>{{ sortie.Organisateur }}</td>
                    <td></td>

                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <button><a href="#">Créer un sortie</a></button>
{% endblock %}
