{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Css/profil.css') }}">
{% endblock %}
{% block body %}

    <section id="section_un">

        <div id="Div_form">

            <h1 class="title is-1 is-mobile">{{ app.user.pseudo }} </h1>
            <hr>
            <div id="Form_div">

                <div id="Form_first_part">

                    <figure class="image is-128x128">

                        <img src="\img\products\{{ app.user.image }}">

                    </figure>

                </div>

                <div id="Form_second_part">

                    <div id="result">

                        <p class="result-p is-mobile"><strong>Nom</strong></p>
                        <p>{{ app.user.nom }}</p>
                        <p class="result-p is-mobile"><strong>Prenom</strong></p>
                        <p>{{ app.user.prenom }}</p>
                        <p class="result-p is-mobile"><strong>Téléphone</strong></p>
                        <p>{{ app.user.telephone }}</p>
                        <p class="result-p is-mobile"><strong>Email</strong></p>
                        <p>{{ app.user.mail }}</p>
                        <p class="result-p is-mobile"><strong>Site de rattachement: </strong></p>
                        <p>{{ app.user.SitesNoSite.NomSite }}</p>
                        <hr>
                    </div>

                </div>

            </div>

            <div id="div_button">

                <a class="button is-info" href={{ path('profil_modifier') }}>Modifier</a>
                <a class="button is-danger" href={{ path('main_index') }}>Retour</a>

            </div>

        </div>

    </section>
{% endblock %}
