{% extends 'base.html.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('Css/addSortie.css') }}">

  {% endblock %}
{% block title %}Sortie{% endblock %}

{% block body %}


<div id="Div_form">
    <p>Ville organisatrice : {{ app.user.SitesNoSite.NomSite }} </p>
    {{ form_start(formSortie) }}
    <div id="Form_div">
        <div id="Form_first_part">

        {{ form_label(formSortie.nom, 'Nom de la sortie :') }}
        {{ form_widget(formSortie.nom) }}

        {{ form_label(formSortie.datedebut, 'Date et heure de la sortie :') }}
        {{ form_widget(formSortie.datedebut) }}

        {{ form_label(formSortie.datecloture, 'Date limite d\'inscription :') }}
        {{ form_widget(formSortie.datecloture) }}

        {{ form_label(formSortie.nbinscriptionsmax, 'Nombre de place :') }}
        {{ form_widget(formSortie.nbinscriptionsmax) }}

        {{ form_label(formSortie.duree , 'Durée :')}}
        {{ form_widget(formSortie.duree) }}

        {{ form_label(formSortie.descriptioninfos, 'Description et infos :') }}
        {{ form_widget(formSortie.descriptioninfos) }}

        </div>

     <div id="Form_second_part">

        {{ form_label(formSortie.lieux_no_lieu, 'Lieu:') }}     <a href="" >Ajouter nouveau lieu</a>
        {{ form_widget(formSortie.lieux_no_lieu) }}

         <label for="rue">Rue </label>
         <input id="rue" type="text" placeholder="1 rue de la joie">

         <label for="ville">Ville  </label>
         <input id="ville" type="number" placeholder="Ville">

         <label for="cp">Code postal </label>
         <input id="cp" type="number" placeholder="44000">

         <label for="lat">Latitude </label>
         <input id="lat" type="number" placeholder="latitude">

         <label for="lon">Longitude </label>
         <input id="lon" type="number" placeholder="longitude">


        </div>
    </div>
        <div id="div_button">
            {{ form_widget(formSortie.save) }}
            {{ form_widget(formSortie.publish) }}
        </div>
    {{ form_end(formSortie) }}
        <div id="ancre">
            <a href="{{ path('main_index') }}" >Annuler</a>
        </div>
</div>


{% endblock %}
