{% extends 'base.html.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('Css/addSortie.css') }}">

  {% endblock %}
{% block title %}Sortie{% endblock %}

{% block body %}

    <script src="{{ asset('Js/twigAddSortie.js') }}"></script>

    <div id="Div_form">

        <button id="reset-button" onclick="reset()" class="button is-light  is-mobile">
            <img id="img-reset" style="width: 25px; height: 25px"
                 src="{{ asset('img/Refresh_icon.svg.png') }}"
                 alt="refresh button">
        </button>

        <div id="titre">
            <h2 class="title is-4 is-mobile">Créer ta propre sortie</h2>
            <img id="img-titre" src="{{ asset('/img/pot_plante.png') }}" alt="pot avec plante">
        </div>

        {{ form_start(formSortie) }}

        <div id="Form_div">
            <div id="Form_first_part">


                <div class="control is-mobile">
                    <label class="label is-mobile">Nom de la sortie :</label>
                    <input id="nomSortie" onload="load()" class="input is-focused is-mobile" {{ form_widget(formSortie.nom) }}

                </div>

                <div class="control is-mobile">
                    <label class="label  is-mobile"> {{ form_label(formSortie.datedebut, 'Date et heure de la sortie :') }}</label>
                    <input id="dateSortie" onload="load()" class="input is-focused is-mobile"
                    {{ form_widget(formSortie.datedebut) }}
                </div>

                <div class="control is-mobile">
                    <label class="label is-mobile">   {{ form_label(formSortie.datecloture, 'Date limite d\'inscription :') }}</label>
                    <input id="dateCloture" onload="load()" class="input is-focused is-mobile" type="date"
                    {{ form_widget(formSortie.datecloture) }}
                </div>


                <strong>{{ form_label(formSortie.nbinscriptionsmax, 'Nombre de place :') }}</strong>
                <div class="field has-addons is-mobile">
                    <p class="control is-mobile">
                        <input id="PlaceId" onload="load()"
                               class="input is-mobile" {{ form_widget(formSortie.nbinscriptionsmax) }}
                    </p>
                    <p class="control  is-mobile">
                        <a class="button is-static is-mobile">
                            places
                        </a>
                    </p>
                </div>
                <strong>      {{ form_label(formSortie.duree , 'Durée :') }}</strong>

                <div class="field has-addons is-mobile">
                    <p class="control  is-mobile">
                        <input id="DuréeId" onload="load()" class="input is-mobile" {{ form_widget(formSortie.duree) }}
                    </p>
                    <p class="control is-mobile">
                        <a class="button is-static is-mobile">
                            minutes
                        </a>
                    </p>
                </div>

                {{ form_label(formSortie.descriptioninfos, 'Description et infos :') }}
                <textarea id="DescriptionId" onload="load()"
                          class="textarea is-primary is-mobile" {{ form_widget(formSortie.descriptioninfos) }}


            </div>

            <div id="Form_second_part">

                <strong>{{ form_label(formSortie.lieux_no_lieu, 'Lieu:') }}</strong>
                <div class="field is-mobile">
                    <p class="control has-icons-left is-mobile">
                    <span id="span-lieux" class="select is-mobile">
                        <select {{ form_widget(formSortie.lieux_no_lieu) }}
                         <a class="button is-light is-mobile" onclick="save()" href="{{ path('sortie_addLieu') }}"> + </a>
                    </span>
                    </p>
                </div>
                <div id="result">
                    <p class="result-p is-mobile"><strong>Rue : </strong><span id="rue"></span></p>
                    <p class="result-p is-mobile"><strong>Ville : </strong><span id="ville"></span></p>
                    <p class="result-p is-mobile"><strong>Code postal : </strong><span id="cp"></span></p>
                    <p class="result-p is-mobile"><strong>Longitude : </strong>no data sorry<span id="long"></span></p>
                    <p class="result-p is-mobile"><strong>latitude : </strong>no data sorry<span id="lat"></span></p>
                </div>

            </div>
        </div>
        <div id="div_button">
            <button class="button is-info" {{ form_widget(formSortie.save) }}
            <button class="button is-success" {{ form_widget(formSortie.publish) }}
            <a class="button is-danger" onclick="save()" href="{{ path('main_index') }}">Annuler</a>

            <div style="display: none">

                <button  href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" {{ form_widget(formSortie.remove) }}

            </div>

            {{ form_end(formSortie) }}
        </div>
    </div>

    <script>

        const rueElement = document.getElementById('rue');
        const villeElement = document.getElementById('ville');
        const codepostalElement = document.getElementById('cp');
        const longitudeElement = document.getElementById('long');
        const latitudeElement = document.getElementById('lat');
        const combo = document.getElementById('add_sortie_lieux_no_lieu');
        const listLieu = document.getElementById('add_sortie_lieux_no_lieu').value;
        let value = [];
        window.addEventListener('load',function(){
            value = listLieu.split("|");
            rueElement.textContent = value[1];
            villeElement.textContent = value[4];
            codepostalElement.textContent = value[5];
            longitudeElement.textContent = value[2];
            latitudeElement.textContent = value[3];
        })
        combo.addEventListener('change',function(event){
            value = event.target.value.split("|");
            console.log(value)
            rueElement.textContent = value[1];
            villeElement.textContent = value[4];
            codepostalElement.textContent = value[5];
            longitudeElement.textContent = value[2];
            latitudeElement.textContent = value[3];
        });

    </script>




{% endblock %}
