{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Css/annuler.css') }}">
{% endblock %}


{% block title %}Annuler{% endblock %}

{% block body %}

    <section id="section">
        <article id="article_one">
            <p>Nom de la sortie : {{ sortie.nom }}</p>
            <p>Date et heure de la sortie : {{ sortie.datedebut | date("m/d/Y à H:i")}}</p>
            <p>Ville organisatrice : {{ sortie.organisateur.SitesNoSite.NomSite }}</p>
            <p>Lieu : {{ sortie.LieuxNoLieu.NomLieu }}   {{ sortie.LieuxNoLieu.Rue }}  {{ sortie.LieuxNoLieu.VillesNoVille.CodePostal }} {{ sortie.LieuxNoLieu.VillesNoVille.NomVille }}</p>
        </article>

        <article id="article_two">
            {{ form_start(cancelForm) }}

            {{ form_label(cancelForm.descriptioninfos, 'Motif annulation :')}}

            {{ form_widget(cancelForm.descriptioninfos) }}
            <div id="div_button">
            <button class="button is-info" {{ form_widget(cancelForm.save) }}
            <button class="button is-success" {{ form_widget(cancelForm.cancel) }}
            </div>
            {{ form_end(cancelForm) }}
        </article>
    </section>

{% endblock %}