{% extends 'base.html.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('Css/sortie.css') }}">
  {% endblock %}
{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Afficher une sortie</h1>
    <article id="article_un">


        <div id="info_div_1">
            <p>Nom de la sortie : {{ sortie.nom }}</p>
            <p>Date et heure de la sortie : {{ sortie.datedebut | date("m/d/Y")}}</p>
            <p>Date limite d'inscription : {{ sortie.datecloture | date("m/d/Y") }}</p>
            <p>Nombre de places : {{ sortie.nbinscriptionsmax }}</p>
            <p>Durée : {{ sortie.duree }} minutes</p>
            <p>Description et infos : {{ sortie.descriptioninfos }} </p>
        </div>

        <div id="info_div_2">
            <p>Ville organisatrice : {{ sortie.LieuxNoLieu.VillesNoVille.NomVille }}</p>
            <p>Lieu : {{ sortie.LieuxNoLieu.NomLieu }}</p>
            <p>Rue : {{ sortie.LieuxNoLieu.Rue }}</p>
            <p>Code postal : {{ sortie.LieuxNoLieu.VillesNoVille.CodePostal }}</p>
                <p>Latitude :
                    {%  if   sortie.LieuxNoLieu.Latitude is null %}
                    (Latitude non renseignée)
                    {% else %}
                    {{ sortie.LieuxNoLieu.Latitude }}
                {% endif %}
                </p>
            <p>Longitude :
                {%  if   sortie.LieuxNoLieu.Longitude is null %}
                    (Longitude non renseignée)
                {% else %}
                    {{ sortie.LieuxNoLieu.Longitude }}
                {% endif %}
            </p>
        </div>

    </article>

    <article id="article_deux">
        <div id="info_div_liste">
            <h4>Liste des participants inscrits :</h4>
            <table>
                    <tr id="thead">
                        <th scope="col">Pseudo</th>
                        <th scope="col-1">Nom</th>
                    </tr>
                <tbody>
                {% if sortie.IdInscription != null %}
                {% for result in sortie.IdInscription.ParticipantsNoParticipant %}
                <tr>
                    <th scope="row">{{ result.Pseudo }}</th>
                    <td>{{result.Nom}} {{ result.Prenom }}</td>
                </tr>
                {% endfor %}
                    {% else %}
                        <tr>
                            <th scope="row">Aucun participant</th>
                            <td>no data</td>
                        </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

    </article>


{% endblock %}
