<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Touch Grass{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>️</text></svg>">
    <link rel="icon" type="image/png" href="{{ asset('img/groot.svg') }}" />
    <link rel="stylesheet" href="{{ asset('Css/base.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">


    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body id="temp">

<script src="{{ asset('Js/base.js') }}"></script>
<script src="{{ asset('Js/secret.js') }}"></script>

<nav class="navbar is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('main_index') }}">
            <img src="{{ asset('img/groot.svg') }}" width="112" height="28">TOUCH GRASS</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span class="is-active" aria-hidden="false"></span>
            <span class="is-active" aria-hidden="true"></span>
            <span class="is-active" aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if app.user %}
            <p id="p_user" class="navbar-item has-text-black" >Connecté : {{  app.user.pseudo }}</p>
            {% endif %}
            <a class="navbar-item" href="{{ path('main_index') }}">Accueil</a>
            {% if app.user %}
            <a class="navbar-item" href="{{ path('profil_afficher') }}">Mon profil</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="navbar-item" href="{{ path('admin') }}">Admin</a>
            {% endif %}
        </div>
        {% if app.user is null %}
        <div id="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="{{ path('app_login') }}">Se connecter</a>
                </div>
            </div>
        </div>
    </div>
    {%  else %}
    <div id="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a id="logout-button" onclick="logout()" class="button is-light" href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        </div>
    </div>
    {%  endif %}
</nav>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('annule') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('remove') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<section id="base_section">

    {% block body %}{% endblock %}

</section>

<footer>
    <div class="content has-text-centered">
        <p>
            <strong>® Touch Grass</strong> by
            <a class="footer-a" href="https://github.com/Haeliseu" target="_blank">Aris Alexia</a> |
            <a class="footer-a" href="https://github.com/MClenetHelayon" target="_blank">Malo Clenet</a> |
            <a class="footer-a" href="https://github.com/AkimMnsr" target="_blank">Akim Mnasri</a>
            <a class="footer-a" href="{{ path('bored_bored') }}">-</a>
            {{ "now" | date("Y") }}
        </p>
    </div>
</footer>
</body>
</html>
